@model EditRoleViewModel
@inject ListUsersViewModel ListUsers

@{
    ViewBag.Title = "Edit Role";
}

<h1>Edit Role</h1>

<form method="post" class="mt-3">
    <div class="form-group row">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Id" disabled class="form-control">
        </div
    </div>
    <div class="form-group row">
        <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="RoleName" class="form-control">
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="ListRoles" class="btn btn-primary">Cancel</a>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            <h3>Users in this role</h3>
        </div>
        <div class="card-body">
            @if (!ListUsers.Customers.Any())
            {
                <p>There are no users in the database</p>
            }
            else
            {
                <div class="container">
                    <div page-model="@ListUsers.PaginationInfo" page-action="ListUsers" page-class-enabled="true"
                         page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-class="btn"
                         page-url-pageSize="@ListUsers.CurrentPageSize" class="btn-group pull-right m-1">
                    </div>

                    @foreach (var user in ListUsers.Customers)
                    {
                        <div class="card mb-3">
                            <div class="card-header">
                                User Id : @user.Id
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@user.UserName</h5>
                            </div>
                            <div class="card-footer">

                                <form method="post" asp-action="DeleteUser" asp-route-UserId="@user.Id" onsubmit="return confirmDelete()">
                                    <a asp-controller="Administration" asp-action="EditUser" asp-route-UserId="@user.Id" class="btn btn-primary">Edit</a>

                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>

        <div class="card-footer">
            <a asp-controller="Administration" asp-action="EditUsersInRole"
               asp-route-roleId="@Model.Id" class="btn btn-primary">
                Add or Remove Users From This Role
            </a>
        </div>
    </div>

</form>