@model List<AllRolesViewModel>

@{
    var UserId = ViewBag.UserId;
}

<button type="button" class="back-button" onclick="history.back()"><img src="~/assets/circle-chevron-left.svg" class="home-icon-nav" /></button>


<div class="center-admin-form">
    <div class="admin-form-container"><br />
        <form method="post">
            <div class="">
                <div class="">
                    <h3>User: @ViewBag.UserName </h3>
                </div><br />

                <div class="">
                    <h4>Manage Roles</h4>
                </div><br />

                <div class="">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="">
                            <input type="hidden" asp-for="@Model[i].RoleId" />
                            <input type="hidden" asp-for="@Model[i].RoleName" />

                            <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                            <label class="" asp-for="@Model[i].IsSelected">@Model[i].RoleName</label>
                        </div>
                    }

                    <div asp-validation-summary="All" class=""></div>
                </div>

                <div class="">
                    <input type="submit" value="Update" class="create-button" style="width:auto" />
                    <button type="button" class="cancel-button" style="width:auto" onclick="history.back()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>