@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProductRecommendationsViewModel
<div class="main-product-container">
    <div class="center-main-product">
        <img src="@Model.Product.ImgLink" class="main-product-img" alt="Product Image">
    </div>
    <div class="center-main-product">
        <div class="center-form">
            <form id=@Model.Product.ProductId method="post" asp-page="/Cart">
                <div class="format-product-details">
                    <h2 class="text-center">@Model.Product.Name</h2><br />
                    <p>@Model.Product.Description</p>
                    <input type="hidden" asp-for="@Model.Product.ProductId" />
                    <input type="hidden" name="ReturnUrl" value="Home/Shop" />
                    <div class="align-quantity-price">
                        <div class="">
                            <label for="quantity">Quantity:</label><br />
                            <input type="number" id="quantity" class="quantity-input" value="1">
                        </div>
                        <div>
                            <label>Unit Price:</label>
                            <p class="price-border">@Model.Product.Price</p>
                        </div>
                    </div>
                    <label>Total Price: </label>
                    <p id="totalPrice">$</p>
                    <!-- Will take us straight to the razor page! But it does so using this route -->
                    <button type="submit" class="btn-outline-success btn-sm float-end">Add to Cart</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br /><br /><br />
<div class="" style="color: #555555">
    <h4>You might also like: </h4>
    <div class="recommend-container" asp-for="ProductDetails">
        @foreach (var recProduct in Model.RecommendedProducts)
        {
            <div class="recommend-item">
                <img src="@recProduct.ImgLink" alt="@recProduct.Name" class="recommend-img">
                <h3 class="recommend-header">@recProduct.Name</h3>
                <!-- Add more details as needed -->
            </div>
        }
    </div>
</div><br /><br />

<script>
    function calculateTotal() {
        var quantity = parseInt(document.getElementById('quantity').value);
        var price = parseFloat(document.getElementById('price').innerText.replace('$', ''));
        var totalPrice = quantity * price;
        document.getElementById('totalPrice').innerText = '$' + totalPrice.toFixed(2);
        return false; // Prevent form submission
    }
</script>
