@page
@model BrickHaven.Pages.CartModel

<button type="button" class="back-button" onclick="history.back()"><img src="~/assets/circle-chevron-left.svg" class="back-icon" /></button><br />

<h2>Shopping Cart</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
        {
            <tr>
                <td class="text-left" name="productId" value="@l.Product.ProductId">@l.Product.Name</td>
                <td class="text-left">$@l.Price</td>
                <td class="text-left">@l.Quantity</td>
                <td class="text-right">$@(l.Amount)</td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total: </td>
            <td class="text-right">@Model.Cart?.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Return to Shopping</a>
</div><br />

@if (Model.Cart != null)
{
    <div class="text-center">
        <form method="post">
            @foreach (var item in Model.Cart.Lines)
            {
                <input type="hidden" name="productId" value="@item.Product.ProductId" />
                <input type="hidden" name="quantity" value="@item.Quantity" />
            }
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
            <a type="submit" class="btn btn-primary" asp-action="AddOrder" asp-controller="Home">Checkout</a>
        </form>
    </div>
    <br />
}